* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #007FFF 0%, #00BFFF 100%);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
}

.logo {
    display: flex;
    align-items: center;
}

.nav_links li {
    padding: 0px 40px; 
    margin-right: 20px;
}

.logo, .nav_links, .button-container {
    margin-right: 45px; 
}

.button-container {
    margin-left: auto; 
}

#logo_site {
    width: 80px;
    height: 60px;
    margin-right: 10px;
}

.site-name {
    font-size: 24px;
    margin-left: 10px;
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links li {
    padding: 0px 15px; 
}

.nav_links a {
    transition: color 0.3s ease; 
    color: #333;
    text-decoration: none;
}

.nav_links a:hover {
    color: #017cff;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.cta button {
    padding: 10px 25px; 
    background-color: #017cff; 
    border: none;
    border-radius: 30px; 
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.cta button:hover {
    background-color: #0159a5; 
}

.feedback-section {
    margin-top: 40px; 
    text-align: center;
}

.feedback-section h2 {
    margin-bottom: 20px; 
}

.feedback-section textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
}

#btn {
    background-color: #017cff; 
    border: none;
    border-radius: 30px; 
    padding: 10px 25px; 
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#btn:hover {
    background-color: #0159a5; 
}

footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #6FC3DF, #2165A0); 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    height: 50px;
    color: white; 
}

footer a {
    text-decoration: none;
    color: white; 
    transition: color 0.3s ease; 
}

footer a:hover {
    color: #f1f1f1;
}
