* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #007FFF 0%, #00BFFF 100%);
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    background-color: rgba(255, 255, 255, 0.5);
}


nav {
    display: flex;
}

.site-name {

    margin-top: 20px;
}
.nav_links {
    list-style: none;
    display: flex;
}

.nav_links li {
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #333;
    margin: 15px;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #017cff;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 28px; 
    margin-right: 20px;
}

.cta button {
    padding: 9px 25px;
    background-color: rgba(1, 124, 255, 0.75);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover {
    background-color: rgba(1, 124, 255, 1);
}

footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #6FC3DF, #2165A0); 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    height: 50px;
    color: white; 
}

footer a {
    text-decoration: none;
    color: white; 
    transition: color 0.3s ease; 
}

footer a:hover {
    color: #f1f1f1;
}


#logo_site {
    width: 100px;
    height: 80px;
    margin-left: 15px;
}

main {
    padding-top: 40px; 
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1,
h2 {
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px 0;
    font-size: 18px;
}

ul li:last-child {
    border-bottom: none;
}

.cadre-blanc {
    background-color: #c5e6f0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}
