* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    background: linear-gradient(to bottom, #007FFF 0%, #00BFFF 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74x; 
    padding: 0 20px; 
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {

    text-align: center;
}

#slogan-introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: 20px;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #333;
}

#logo_site {
    width: 80px;
    height: 60px;
    margin-right: 10px;
}

.site-name {
    font-size: 24px;
    margin-left: 10px;
    color: #333;
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px; 
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #333;
    margin: 15px;
    text-decoration: none;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 28px; 
}

.nav_links li a:hover, .cta button:hover {
    color: #017cff;
    text-decoration: underline;
}

.cta button {
    padding: 9px 20px; 
    margin-left: 5px; 
    background-color: rgba(1, 124, 255, 0.75);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.prev, .next {
    padding: 9px 20px;
    background-color: rgba(1, 124, 255, 0.75);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;  
}

.prev:hover, .next:hover {
    background-color: rgba(1, 124, 255, 1);  
}

#slogan-introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: 20px;
}

.text-container h2 {
    font-size: 30px;
    color: #fff;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: cyan;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.back {
    width: 30px; 
    height: 120px; 
    margin-top: 20px;
    margin-right: 20px;
    max-width: 80px;
    border-radius: 80px;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 30px auto;
    padding: 20px;
}

.photo-archive {
    text-align: center;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    width: fit-content; 
}

.photo-archive h3 {
    font-size: 24px;
    color: #017cff;
    margin-bottom: 20px;
}

.images-container {
    overflow: hidden;
    width: 900px;  
}

.image-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 1800px;  
}

.image-slider img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 0;  
}

.photo-archive button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}