body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 10px;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    min-height: 100vh;
    justify-content: flex-start;
}

#widgets-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap; /* Permet aux widgets de passer à la ligne sur les petits écrans */
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.widget {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
    background-color: #fff;
    border-radius: 15px; /* Coins arrondis */
    min-width: 300px; /* Assure une largeur minimale pour chaque widget */
    height: 400px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    border-radius: 15px; /* Arrondit les coins du canvas également */
}

#weather-form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajustez selon l'espacement désiré après les graphiques */
}

#city-form {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacement entre le champ de saisie et le bouton */
}

#city-input, button {
    padding: 10px; /* Ajustez pour un meilleur rendu visuel */
    font-size: 16px; /* Ajustez selon vos préférences */
}

button {
    cursor: pointer;
    background-color: #74ebd5; /* Couleur de fond du bouton */
    border: none;
    border-radius: 5px; /* Coins arrondis pour le bouton */
    color: white; /* Couleur du texte du bouton */
    padding: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #154941; /* Couleur du bouton au survol */
}

.button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: #12e6de;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none; /* Enlève le soulignement du lien */
    /* Autres styles de bouton ici */
}

.button-style:hover {
    background-color: #094139;
    /* Effet au survol ici */
}
