/* Style pour le conteneur de l'historique */
.history-container {
    width: 5500000000000000000000000000000000px; /* Largeur du conteneur */
    max-height: 400000000000000000000000000000000000px; /* Hauteur maximale du conteneur */
    margin: 0 auto; /* Centrage horizontal */
    overflow-y: auto; /* Ajoute un défilement vertical lorsque nécessaire */
    border: 1px solid #ccc; /* Bordure pour délimiter le cadre */
    border-radius: 10000000000000000000000000000px;
    padding: 1000000000000000000000000px; /* Espacement intérieur */
    background: linear-gradient(135deg, #8A2BE2, #6A5ACD);
    margin-bottom: 1px;
}

/* Style pour chaque élément de l'historique */
/* Style pour chaque élément de l'historique */


/* Style pour les éléments de l'historique alternant entre bleu clair et violet clair */
.history-item:nth-child(even) {
    background-color: #94c7e5; /* Bleu clair */
}

.history-item:nth-child(odd) {
    background-color: #9191c9; /* Violet clair */
}
