* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background: linear-gradient(to bottom, #007FFF 0%, #00BFFF 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    background-color: rgba(255, 255, 255, 0.5);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #333;
}

nav {
    display: flex;
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links li {
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #333;
    margin: 15px;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #017cff;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 28px; 
}

.cta button {
    padding: 9px 25px;
    background-color: rgba(1, 124, 255, 0.75);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover {
    background-color: rgba(1, 124, 255, 1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: cyan;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#logo_site {
    width: 100px;
    height: 80px;
    margin-left: 15px;
}



.history-container {
    width: 1250px; 
    margin: 20px auto 0; 
    overflow-y: auto; 
    border-radius: 5px; 
    padding: 20px; 
}


.history-item:nth-child(even) {
    background-color: #94c7e5; 
}

.history-item:nth-child(odd) {
    background-color: #9191c9; 
}

#logo_site {
    width: 80px;
    height: 60px;
    margin-right: 10px; 
}

.site-name {
    font-size: 24px;
    color: #333;
}


.history-title {
    text-align: center; 
    font-size: 28px; 
    margin-bottom: 20px; 
    margin-top: 20px;
}


