body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 10px;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    min-height: 100vh;
    justify-content: flex-start;
}

#widgets-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap; 
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.widget {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
    background-color: #fff;
    border-radius: 15px; 
    min-width: 300px; 
    height: 400px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    border-radius: 15px; 
}

#weather-form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

#city-form {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

#city-input, button {
    padding: 10px; 
    font-size: 16px; 
}

button {
    cursor: pointer;
    background-color: #74ebd5; 
    border: none;
    border-radius: 5px; 
    color: white; 
    padding: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #154941; 
}

.button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: #12e6de;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none; 
    
}

.button-style-clim {


    display: inline-block;
    padding: 10px 20px;
    background-color: #12e6de;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none; 

}

.button-style:hover {
    background-color: #094139;
    
}
